<style>
    * { margin : 0;
        padding : 0;
        box-sizing:border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {background:  #97acff;}

    /* mobile first */
    article{
        width: 100%;
        float : left ;
        background : #fffa97;
        border : 1px dotted red
    }

    /* desktop */
    @media only screen and (min-width: 768px) {
            .col-3 {width: 49%;}
            body {
                background-color: green;
            }
    }

    /* desktop */
    @media only screen and (min-width: 600) {
            .col-s-6 {width: 100%;}
            body {
                background-color: lavender;
            }
    }

    @media only screen and (min-width: 1000) {
            .col-4 {width: 20%;}
            body {
                background-color: yellow;
            }
    }

    header{
        background: #ffc697;
        font-size: 30px;
    }

    img { max-width: 100%;
          height : auto;
    }
</style>
